<div>
  <div class="header">
    PRODUCT
  </div>
    <div>
        <div class="content-button">
            <button class="btn-create">Create</button>
        </div>
        
        <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>SubCategory</th>
                  <th>Description</th>
                  <th class="table-action">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of products || []; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ row.name }}</td>
                  <td>{{ row.category }}</td>
                  <td>{{ row.subCategory }}</td>
                  <td>{{ row.description }}</td>
                  <td class="table-action">
                    <a (click)="onClickAction('view')" class="action-click"><i class="far fa-eye"></i></a>
                    <a (click)="onClickAction('edit')" class="action-click"><i class="far fa-edit"></i></a>
                    <a (click)="onClickAction('delete')" class="action-click"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <app-pagination 
              [totalItems]="totalItems"
              [itemsPerPage]="length"
              [(currentPage)]="currentPage"
              (pageChanged)="onPageChanged($event)"
            ></app-pagination>

            <p>Current Page: {{ currentPage }}</p>
          </div>
    </div>
</div>