<div class="modal-header">
    <p>DETAILS</p>
</div>
<div class="modal-body">
    <p>
        <span class="label">Name:</span> 
        <span class="value">{{ modalData?.name }}</span>
    </p>
    <p>
        <span class="label">Code:</span> 
        <span class="value">{{ modalData?.code }}</span>
    </p>
    <p>
        <span class="label">Description:</span> 
        <span class="value">{{ modalData?.description }}</span>
    </p>
</div>
<div class="modal-footer">
    <button class="btn-create" (click)="onClickClose()">Close</button>
</div>