<div class="modal-header">
    <p>UPDATE</p>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" >
        <div class="form-group">
            <div class="modal-contents">
                <label class="label" for="name">Name:</label>
                <input [(ngModel)]="modalData.name" name="name" class="form-control value">
            </div>
            <div class="modal-contents">
                <label class="label" for="code">Code:</label>
                <input [(ngModel)]="modalData.code" name="code" class="form-control value">
            </div>
            <div class="modal-contents">
                <label class="label" for="description">Description:</label>
                <textarea [(ngModel)]="modalData.description" name="description" class="form-control value"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn-primary">Update</button>
            <button class="btn-transparent" (click)="onClickClose()">Close</button>
        </div>
    </form>
</div>
