<div class="design-container">
<button class="btn-primary">Button</button>
<button class="btn-secondary">Button</button>
<input class="input-editable" placeholder="Text box editable">
<input readonly class="input-readonly" value="Readonly">

<div class="dropdown">
  <button class="btn-dropdown">Touch me</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
<select>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
</div>