<div class="design-container">
<button class="btn-primary" (click)="onClickOpenModal()">Modal</button>
<button class="btn-secondary">Button</button>
<input class="input-editable" placeholder="Text box editable">
<input readonly class="input-readonly" value="Readonly">

<div class="dropdown">
  <button class="btn-dropdown">Touch me</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
<select>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <th class="table-action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>{{ row.column1 }}</td>
        <td>{{ row.column2 }}</td>
        <td>{{ row.column3 }}</td>
        <td>{{ row.column4 }}</td>
        <td class="table-action">
          <a (click)="onClickAction('view')" class="action-click"><i class="far fa-eye"></i></a>
          <a (click)="onClickAction('edit')" class="action-click"><i class="far fa-edit"></i></a>
          <a (click)="onClickAction('delete')" class="action-click"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
