<div>
  <div class="header">
    CATEGORY
  </div>
  <div>
    <div class="content-button">
      <button (click)="onClickCreate()" class="btn-create">Create</button>
    </div>

    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th class="table-action">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.code }}</td>
            <td>{{ row.description }}</td>
            <td class="table-action">
              <a (click)="onClickAction('view', row)" class="action-click"><i class="far fa-eye"></i></a>
              <a (click)="onClickAction('edit', row)" class="action-click"><i class="far fa-edit"></i></a>
              <a (click)="onClickAction('delete', row)" class="action-click"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>