<div class="container">
    <div class="product-list-container">
        <div class="product-card" *ngFor="let product of products">
            <div>
                <a class="product">
                    <span class="product-info-container">
                        <div>
                            <img class="product-image" [src]="'/assets/image/' + product.imageFile">
                        </div>
                        <div class="product-info">
                            <div class="product-logo">
                                <img class="product-auth" src="/assets/image/auth.png">
                            </div>
                            <div class="product-name">
                                <a>{{product.name}}</a>
                            </div>
                            <div class="product-description">
                                <a>{{product.description}}</a>
                            </div>
                            <div class="product-price">
                                <a>{{product.price}}</a><sup>₫</sup>
                            </div>
                        </div>
                        <div class="product-delivery">
                            <img class="product-delivery-logo" src="/assets/image/now.png">
                            <span>Giao hàng siêu tốc 2h</span>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>