<p>supcategory-search works!</p>
<div class="search-container">
    <div class="container">
        <div class="search-menu">
            <div class="part-search">
                <img class="search-icon" src="/assets/image/search.png">
                    <input #searchInput class="txtbox-search" placeholder="Search Subcategory..." >
                        <button class="btn-transparent" (click)="onclickSearchButton(searchInput.value)">Search</button>
            </div>
        </div>
    </div>
    </div>