/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background: #f5f5fa;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #ffff;
  background-color: #0c67ff;
  height: 40px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #0c51c7;
}

.btn-transparent {
  color: #006dff;
  background-color: transparent;
  height: 40px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  font-weight: solid;
  text-align: center;
  border-radius: 5px;
}

.btn-transparent:hover {
  background-color: #cee1ff;
}

.btn-secondary {
  color: #006dff;
  background-color: white;
  border-color: #006dff;
  height: 40px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #f3f3f3;
}

.btn-create {
  border-radius: 5px;
  width: 15%;
  background-color: rgb(24, 49, 83);
  color: #ffff;
  font-family: "Roboto";
}

.input-editable {
  color: black;
  background-color: white;
  height: 40px;
  width: 200px;
  padding: 5px;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  border-radius: 5px;
  border-width: thin;
}

.input-editable:focus {
  outline: none;
}

.input-readonly {
  color: black;
  background-color: rgb(226, 225, 225);
  height: 40px;
  width: 200px;
  padding: 5px;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  border-radius: 5px;
  border-width: thin;
}

.input-readonly:focus {
  outline: none;
}

.btn-dropdown {
  background-color: #006dff;
  color: white;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border-width: thin;
  width: 100px;
  height: 40px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

option {
  padding: 10px;
}

option:hover {
  background-color: #eee;
}

/*Basic Grid*/

table.table {
  font-family: 'Roboto';
}

table.table tbody tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

table.table tbody tr td i {
  color: rgb(24, 49, 83);
}

table.table thead tr th.table-action {
  text-align: center;
}

table.table tbody tr td.table-action {
  text-align: center;
}

table.table thead {
  border-bottom-color: #006dff;
}

.action-click {
  cursor: pointer;
  padding: 10px;
}