<div class="login-form">
  <div class="login-wrap">
    <h3 class="text-center">Have an account?</h3>
    <div class="signin-form">
      <div class="form-group">
        <input type="text" class="form-control input-control" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input id="password-field" type="password" class="form-control input-control" placeholder="Password" required>
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
      </div>
      <div class="form-group">
        <button class="form-control input-control btn btn-primary submit" onclick="onClickSignIn()">Sign In</button>
      </div>
      <div class="form-group remember-container">
        <div class="remember-me">
          <label class="checkbox-wrap checkbox-primary">
            Remember Me
          </label>
          <input type="checkbox" checked>
        </div>
        <a href="#" class="forgot-password">Forgot Password</a>
      </div>
    </div>
    <p class="text-center">— Or Sign In With —</p>
    <div class="social text-center">
      <a href="#" class="social-btn facebook">Facebook</a>
      <a href="#" class="social-btn twitter">Twitter</a>
    </div>
  </div>
</div>
