<div class="col-md-6 col-lg-4">
  <div class="login-wrap p-0">
    <h3 class="mb-4 text-center">Have an account?</h3>
    <div action="#" class="signin-form">
      <div class="form-group">
        <input type="text" class="form-control input-control" placeholder="Username" [ngModel]="request.userName" required="">
      </div>
      <div class="form-group">
        <input id="password-field" type="password" class="form-control input-control" placeholder="Password"
               [ngModel]="request.password" required="">
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
      </div>
      <div class="form-group">
        <button class="form-control input-control btn btn-primary submit px-3" (click)="onClickSignIn()">Sign In</button>
      </div>
      <div class="form-group d-md-flex">
        <div class="w-50">
          <label class="checkbox-wrap checkbox-primary">Remember Me
            <input type="checkbox" checked="" [ngModel]="request.isRememberMe">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="w-50 text-md-right">
          <a href="#" style="color: #fff">Forgot Password</a>
        </div>
      </div>
    </div>
    <p class="w-100 text-center">— Or Sign In With —</p>
    <div class="social d-flex text-center">
      <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
      <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
    </div>
  </div>
</div>
