<div class="container">

  <div class="navigation-menu">
      <div class="navigation-menu-items">
        <button (click)="navigateTo('/')">Home</button>
        <button (click)="navigateTo('/counter')">Counter</button>
        <button (click)="navigateTo('/fetch-data')">Fetch Data</button>
        <button (click)="navigateTo('/catalog/product-list')">Catalog</button>
      </div>
  </div>

  <div class="content">
      <div>
          <router-outlet></router-outlet>
      </div>
  </div>

</div>