.container {
  display: flex;
}

.navigation-menu {
  background: #ffff;
  border-radius: 10px;
  width: 13%;
  height: calc(100vh - 120px);
}

.navigation-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation-menu-items button{
  border-radius: 7px;
  padding: 10px;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
}

.navigation-menu-items button:hover{
  background-color: #e9e9e9;
}

.content {
  border-radius: 10px;
  background: transparent;
  overflow: auto;
  width: 85%;
  margin-left: 2%;
}