<div class="modal-header">
  <p>{{title}}</p>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()">
    <div>
      <div class="modal-contents">
        <label class="label" for="name">Name:</label>
        <input type="text" class="form-control value" [disabled]="isDisabled" name="name" [(ngModel)]="formData.name" [class.error]="type !== 'view' && !isValidName(formData.name)">
        <div *ngIf="type !== 'view' && !isValidCode(formData.categoryCode)" class="error-message">Code is required and should not contain special characters.</div>
      </div>
      <div class="modal-contents">
        <label class="label" for="categoryCode" >Code:</label>
        <input type="text" class="form-control value" [disabled]="isDisabled" name="categoryCode" [(ngModel)]="formData.categoryCode" [class.error]="type !== 'view' && !isValidCode(formData.categoryCode)">
        <div *ngIf="type !== 'view' && !isValidCode(formData.categoryCode)" class="error-message">Code is required and should not contain special characters.</div>
      </div>
      <div class="modal-contents">
        <label class="label" for="description" >Description:</label>
        <textarea class="form-control value" [disabled]="isDisabled" name="description" [(ngModel)]="formData.description" [class.error]="type !== 'view' && !isValidDescription(formData.description)"></textarea>
        <div *ngIf="type !== 'view' && !isValidDescription(formData.description)" class="error-message">Description should not contain special characters.</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn-primary" [disabled]="isDisabled">{{ type === 'edit' ? 'Update' : 'Create' }}</button>
      <button class="btn-transparent" (click)="onClickClose()">Close</button>
    </div>
  </form>
</div>
