<div class="modal-header">
  <p>{{ title }}</p>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()">
    <div>
      <div class="modal-contents">
        <label class="label" for="name">Name:</label>
        <input type="text" class="form-control value" [disabled]="isDisabled" name="name" [(ngModel)]="tempFormData.name" (input)="markAsDirty('name')"
          [class.error]="!isValidField('name') && isDirty.name">
        <div *ngIf="!isValidField('name') && isDirty.name" class="error-message">Name is required and should only contain alphanumeric characters.</div>
      </div>
      <div class="modal-contents">
        <label class="label" for="categoryCode">Code:</label>
        <input type="text" class="form-control value" [disabled]="isDisabled" name="categoryCode" [(ngModel)]="tempFormData.categoryCode" (input)="markAsDirty('categoryCode')"
          [class.error]="!isValidField('categoryCode') && isDirty.categoryCode">
        <div *ngIf="!isValidField('categoryCode') && isDirty.categoryCode" class="error-message">Code is required and should only contain alphanumeric characters.</div>
      </div>
      <div class="modal-contents">
        <label class="label" for="description">Description:</label>
        <textarea class="form-control value" [disabled]="isDisabled" name="description" [(ngModel)]="tempFormData.description" (input)="markAsDirty('description')"
          [class.error]="!isValidField('description') && isDirty.description"></textarea>
        <div *ngIf="!isValidField('description') && isDirty.description" class="error-message">Description should not contain special characters.</div>
      </div>
    </div>
    <div class="modal-footer" [ngClass]="{'reverse-row': type === 'view'}">
      <button *ngIf="type !== 'view'" type="submit" class="btn-primary" [disabled]="isDisabled">{{ type === 'edit' ? 'Update' : 'Create' }}</button>
      <button class="btn-transparent" (click)="onClickClose()">Close</button>
    </div>
  </form>
</div>
